@import "normalize";
@import "bourbon/bourbon";


$button-green: hsl(115, 40%, 50%);
$button-red: hsl(350, 40%, 50%);

.no-style-ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slot-machine {
	width: 568px;
	height: 818px;
	margin: 50px auto;
	background: url('../imgs/machine-and-finished.png') no-repeat bottom right;
	box-sizing: border-box;
	padding-top: 129px;
}

.slot-area {
	margin: 0 auto;
	width: 450px;
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-top: 1/3 * 100%;
	}
}

.slots {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include display(flex);
}

.slot {
	@include flex(1);
	@include display(flex);
	@include flex-direction(column);

}

.slot-inner {
	@include flex(1);
	width: 100%;
	height: 100%;
	background: url('../imgs/slots.png') repeat-y 0 0;
	@include transition(background-position 0.5s linear);

	&.vessel {
		background-position-x: 0;
	}
	&.filter {
		background-position-x: -150px;
	}
	&.ingredient {
		background-position-x: -300px;
	}

}

.slots-button {
	display: block;
	margin: 37px auto 0;
	background-color: transparent;
	border: none;
	height: 70px;
	font-size: 36px;
	color: $button-green;
	position: relative;
	left: -12px;
	border-radius: 23px;
	width: 195px;
	box-shadow: 0 0 5px 5px $button-green inset;

	&.inactive {
		color: $button-red;
		box-shadow: 0 0 5px 5px $button-red inset;
	}
}

.cup {
	margin: 50px auto 0;
	width: 280px;
	position: relative;
	opacity: 0;
	background: url('../imgs/machine-and-finished.png') no-repeat -15px 0;
	@include transition(opacity 0.5s);

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	&.filled {
		opacity: 1;
	}

	&.coffee {
		background-position-y: 0;
	}
	&.tea {
		background-position-y: -300px;
	}
	&.espresso {
		background-position-y: -600px;
	}

}
