<!doctype html>

<html lang="en" ng-app="slotmachineApp">
<head>
  <meta charset="utf-8">

  <title>Slot Espresso</title>
  <meta name="description" content="Slot Espresso">
  <meta name="author" content="Hannah Hu">

  <link rel="stylesheet" href="css/main.css">

  <script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>

<body>
	<div class="slot-machine" ng-controller="SlotMachineCtrl as slotmachine">
		<div class="slot-area">
			<ul class="slots vessel no-style-ul">
				<li class="slot" ng-repeat="slot in slotmachine.slots">
					<div class="slot-inner {{slot.partType}}" ng-style="{'background-position-y': slot.bgPosition + 'px'}"></div>
				</li>
			</ul>
		</div>

		<button class="slots-button" ng-class="{'inactive': slotmachine.isAnimating}" ng-click="slotmachine.spinItUp()">Brew!</button>

		<div class="cup {{slotmachine.currentDrink}}" ng-class="{'filled': slotmachine.currentDrink}">
		</div>

	</div>

</body>
</html>